body,
#hero footer,
#featured section,
#featured section article div,
#all-items section,
#all-items section article {
    display: flex;
}

body,
#all-items section {
    flex-direction: column;
}

body {
    align-items: center;
}

#featured section article div,
#all-items section article {
    justify-content: center;
}

#hero footer,
#all-items section article {
    align-items: center;
}

#hero footer {
    justify-content: space-between;
}

#all-items article div#last-child {
    flex-basis: 80%;
}

#all-items article:nth-child(even) {
    flex-direction: row-reverse;
}

/* #all-items article:nth-child(even) div:first-child {
    order: 2;
} */

#featured section article:nth-child(even) {
    flex-grow: 2;
}

@media screen and (max-width: 768px) {
    #featured section {
        flex-direction: column; 
        /*
        could also use 
        flex-wrap: wrap;
        */
        
    }

    #featured section article:nth-child(even) {
        border: none;
    }
}